/** @format */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: #333333;
}
